<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="main">
                <form action="/success" method="POST">
                    <h2 class="mi">Mini-Message-Board</h2>
                    <label for="comment">Name</label>
                    <input type="text" class="box" id="name" name="name" placeholder="Name" required />
                    <br>
                    <br>
                    <div class="text_area">
                        <label for="comment">message:</label>
                        <textarea class="form-control" rows="5" id="text" name="text"></textarea>
                    </div>
                    <br>
                    <input type="submit" value="Submit" id="submit" />
                </form>
            </div>
        </div>

        <a href="./output.html">output</a>


    </div>




</body>

</html>